div
{
    background-color:#ff9797;
    width:500px;
    padding:50px;
    border-top-right-radius: 35%;
    border-bottom-left-radius:35%;
    border-top-left-radius: 35%;
    border-bottom-right-radius:20%;
}
img
{
    position:absolute;
    width:150px;
    height:150px;
    left:375px;
    top:100px;
}